<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<header>
    <nav class="navbar">
        <div class="logo">
            <a th:href="@{/}" class="logo-text">Ethica</a>
        </div>
        <ul class="nav">
            <li><a th:href="@{/index}">Home</a></li>
            <li><a th:href="@{/about}">About Us</a></li>
            <li><a th:href="@{/founder}">Price</a></li>
            <li><a th:href="@{/news}">News Article</a></li>
            <li><a th:href="@{/signUp}">Sign Up</a></li>
            <li><a th:href="@{/login}">Sign In</a></li>
        </ul>
    </nav>
</header>

<h2>Hello Bienvenue sur Ethica !</h2>

</body>
</html>