<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Connexion</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" />
</head>
<body>
<header>
    <nav class="navbar">
        <div class="logo">
            <a th:href="@{/}" class="logo-text">Ethica</a>
        </div>
        <ul class="nav">
            <li><a th:href="@{/index}">Home</a></li>
            <li><a th:href="@{/about}">About Us</a></li>
            <li><a th:href="@{/founder}">Price</a></li>
            <li><a th:href="@{/news}">News Article</a></li>
            <li><a th:href="@{/signUp}">Sign Up</a></li>
            <li><a th:href="@{/login}">Deconnexion</a></li>
        </ul>
    </nav>
</header>
<div class="Welcome"> <h2 th:text="'Hello ' + ${session.userConnecte.firstName} + ', welcome on Ethica'"></h2> </div>

<main class="dashboard">

    <!-- Search Bar -->
    <section id="search-bar" class="search-section">
        <form th:action="@{/dashboard}" method="get">
        <h2>Search for an asset</h2>
        <input type="text" name="ticker" th:value="${param.ticker}" placeholder="Enter the name or symbol of an asset AAPL">
        <button type="submit">Search</button>
        </form>
    </section>
    <div class="result" th:if="${stock!= null}">
    <h1>Result for <span th:text="${stock.symbol}" ></span></h1>
        <p>Price: <span th:text="${stock.price + ' $'}"></span></p>
        <p>percent Change: <span th:text="${stock.percentChange + ' %'}"></span></p>
        <div class="buttons">
            <a th:href="@{/trading}" class="btn">Acheter</a>
            <a th:href="@{/trading}" class="btn">Vendre</a>
        </div>
    </div>
    <p th:if="${error}" th:text="${error}"></p>

    <!-- Latest Reuters Articles -->
    <section id="articles-recents" class="news-section">
        <h2>Financial News (Reuters)</h2>
        <div class="articles-grid">

            <div class="news-card">
                <h3>Article Title</h3>
                <p>Short summary or intro of the article...</p>
                <a href="https://www.reuters.com/" target="_blank">Read more</a>
            </div>
        </div>
    </section>

    <!-- Access to features (redirections) -->
    <section id="redirect-sections" class="menu-links">
        <h2>Available features</h2>
        <ul>
            <li><a href="/profil">Complete my personality profile</a></li>
            <li><a href="/clientPortfolio">Manage my portfolio</a></li>
            <li><a th:href="@{/stockReco}">Top assets for my profile</a></li>
            <li><a href="http://localhost:5173/">Chat with the financial AI</a></li>
            <li><a th:href="@{/trading}">Submit a buy/sell decision</a></li>
        </ul>
    </section>
</main>