<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<nav>
    <ul class="nav">
        <li><a th:href="@{/index}">Home</a></li>
        <li><a th:href="@{/about}">About Us</a></li>
        <li><a th:href="@{/founder}">Price</a></li>
        <li><a th:href="@{/news}">News Article</a></li>
        <li><a th:href="@{/signUp}">Sign Up</a></li>
        <li><a th:href="@{/login}">Sign In</a></li>
    </ul>
</nav>

<form action="/signUP" method="post">
    <label>Prénom :</label>
    <input type="text" name="firstName" required><br>

    <label>Nom :</label>
    <input type="text" name="lastName" required><br>

    <label>Email :</label>
    <input type="email" name="email" required><br>

    <label>Mot de passe :</label>
    <input type="password" name="password" required><br>

    <label>Âge :</label>
    <input type="number" name="age" required><br>

    <label>Profil d’investisseur :</label>
    <select name="investorProfil" required>
        <option value="conservateur">Conservateur</option>
        <option value="modere">Modéré</option>
        <option value="dynamique">Dynamique</option>
    </select><br>

    <label>Description :</label><br>
    <textarea name="description" rows="4" cols="50" required></textarea><br>

    <button type="submit">S’inscrire</button>
</form>
</body>
</html>